<h1 style="color:green">DATA The toddlers are coming to town<h1>

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
# path of data 
path="https://en.wikipedia.org/wiki/Boroughs_and_neighborhoods_of_Berlin"

#This will return a list of tables in the page. 
boroughs_berlin = pd.read_html(path)

# We only need the third counting from the bottom
boroughs_berlin[-3].columns=["Boroughs","Neighborhoods"]
bouroughs_berlin=boroughs_berlin[-3]
bouroughs_berlin.head()

,Boroughs,Neighborhoods
0,Charlottenburg-Wilmersdorf,Charlottenburg Charlottenburg-Nord Grunewald H...
1,Friedrichshain-Kreuzberg,Friedrichshain Kreuzberg
2,Lichtenberg,Alt-Hohenschönhausen Falkenberg Fennpfuhl Frie...
3,Marzahn-Hellersdorf,Biesdorf Hellersdorf Kaulsdorf Mahlsdorf Marzahn
4,Mitte,Gesundbrunnen Hansaviertel Mitte Moabit Tierga...

In [3]:
col_nr=range(1,11)
postal_codes=pd.read_csv("./Postleitzahle.csv", header=5, usecols=col_nr)

<p style="font-size:110%">The next data, postal codes, is from the administration of the city. It is a csv file, which I uploaded.<p>

In [4]:
#We take out the none values
postal_codes.fillna(value="", inplace=True)
postal_codes.columns.values[0]="Borroughs"
postal_codes.head()

,Borroughs,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Mitte,10115,10117,10119,10178,10179,10435,10551,10553,10555
1,,10559,10623,10785,10787,10963,10969,13347,13349,13351
2,,13355,13357,13359,13405,13407,13409,,,
3,,,,,,,,,,
4,Friedrichshain-,10179,10243,10245,10247,10249,10367,10785,10961,10963

In [5]:
postal_codes.head(2)

,Borroughs,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Mitte,10115,10117,10119,10178,10179,10435,10551,10553,10555
1,,10559,10623,10785,10787,10963,10969,13347,13349,13351

<p> As you see, there is some data preparation to be done in both tables, which we merge to get Borrough-Neighbourhoods-Post Codes in one table.<p>
<p>We take the demographics from two sources: 
Unfortunately, both are PDF files.<p>

<ol style="color:green; font-size:110%">
  <li>Number younger women (below 40)</li>
  <li>Number of buildings</li>
  <li>% of children from total population</li>
  <li>Car accidents</li>
</ol>

Number 2 and 4 are taken from the annual statistic book of Berlin.

Buildings|Traffic Accidents
-|-
![](BuildingBorroughs.png )|![](CarAccidents.png)

Feature 1 and 3 are from another PDF source: The report on statistics for the first semester in 2018. It is a less extensive document and it is based on registrations in the of people in the city. The head of the table (shown below at the right) has the underline age category for children (red) and young women (yellow) when divided by gender.

Report|Demography for each Borrough
-|-
![](ReportRegistration.png )|![](Demography.png)

For selected Borroughs we explore the area after parks and playground with Foursquare. The adrdress we get of the parl serve us to look for the rent price <a href="https://www.immowelt.de/immobilienpreise">here<a> IN GERMAN.